body {
  width: 300px;
  height: auto;
  font-size: 0.8rem !important;
  padding: 10px;
  justify-content: center;
  /* rgb(212 213 236) */
  background-color: rgb(55, 55, 51);
}

.btn {
  font-size: 0.9rem;
  padding: 5.4px 12px;
  border-radius: 3.5px;
  color: crimson;
  border: 3px double #da356d;
  display: flex;
  margin: auto;
  font-weight: 600;
  /* width: 100%;  full width*/
}

.btn:hover {
  background-color: #ece6cf;
}

#displayColor {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #fff;
}

.colorGrid {
  display: inline-block;
  width: 26px;
  height: 24px;
  border-radius: 3.5px;
  margin-right: 4px;
}

.colorValue,
.colorValueRgb {
  margin-left: 7px;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.6px;
}
